<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Patients info</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/Logo2.png" rel="icon" />
    <!-- <link href="/static/../static/assets/img/favicon.png" rel="icon" /> -->
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/Patient.css" />

    <!-- =======================================================
  * Template Name: Impact
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <!-- <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>End Top Bar -->

    <header id="header" class="header d-flex align-items-center">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="../static/assets/img/logo.png" alt=""> -->
          <h1>Hospital<span>Team 3</span></h1>
        </a>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="./doctor_dashboard.html">Home</a></li>
            <li><a href="./doctor_dashboard.html#doctor-sec">Doctor</a></li>
            <li><a href="./doctor_dashboard.html#about">About</a></li>
            <li><a href="./doctor_dashboard.html#faq">FAQs</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="./doctor_dashboard.html#contact">Contact Us</a></li>
          </ul>
        </nav>
        <!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
    </header>
    <!-- End Header -->
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div
          class="page-header d-flex align-items-center"
          style="background-image: url('')"
        >
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <h2>Patients</h2>
                <p>
                  It can only be followed if you are diagnosed, in writing, by
                  one or more attending doctor(s) to be either in a terminal
                  condition or, in a permanent unconscious condition as
                  certified by two physicians.
                </p>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <div class="container">
            <ol>
              <li><a href="doctor_dashboard.html">Home</a></li>
              <li>Patients info</li>
            </ol>
          </div>
        </nav>
      </div>
      <!-- End Breadcrumbs -->

      <section class="Patient-info">
        <div class="container" data-aos="fade-up">
          
        <br>
        <h2>View Section</h2>
        <br>
        <h4><u>Appointments</u></h4>
<table class="table">
  <thead>
    <tr>
      <th>Appointment ID</th>
      <th>Doctor ID</th>
      <th>Doctor's Name</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody id="tbody">
    {% for appointments in appointments %}
      <tr>
        <td>{{ appointments.appointmentid }}</td>
        <td>{{ appointments.doctorid }}</td>
        {% for doctor in doctors %}
          {% if doctor.id == appointments.doctorid %}
            <td>{{ doctor.name }}</td>
          {% endif %}
        {% endfor %}
        <td>{{ appointments.appointmentdate }}</td>
        <td>{{ appointments.appointmenttime }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

        <h4><u>Scans</u></h4>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Doctor ID</th>
              <th>Doctor's Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>File</th>
            </tr>
          </thead>
          <tbody id="tbody">
            {% for scans in scans %}
              <tr>
                <td>{{ scans.scanid }}</td>
                <td>{{ scans.doctorid }}</td>
                {% for doctor in doctors %}
                  {% if doctor.id == scans.doctorid %}
                    <td>{{ doctor.name }}</td>
                  {% endif %}
                {% endfor %}
                <td>{{ scans.scandate }}</td>
                <td>{{ scans.scantime }}</td>
                <td>
                {% for file in scanfiles %}
                  <!-- {% if scans.scanid == scanfiles.scanid  %} -->
                  <td>{{ scanfiles.file }}</td>
                  <!-- {% endif %} -->
                {% endfor %}
              </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <h4><u>Prescriptions</u></h4>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Doctor ID</th>
              <th>Date</th>
              <th>Time</th>
              <th>File</th>
            </tr>
          </thead>
          <tbody id="tbody">
            {% for prescriptions in prescriptions %}
              <tr>
                <td>{{ prescriptions.prescriptionid }}</td>
                <td>{{ prescriptions.doctorid }}</td>
                {% for doctor in doctors %}
                  {% if doctor.id == prescriptions.doctorid %}
                    <td>{{ doctor.name }}</td>
                  {% endif %}
                {% endfor %}
                <td>{{ prescriptions.prescriptiondate }}</td>
                <td>{{ prescriptions.prescriptiontime }}</td>
                <td>
                {% for file in scanfiles %}
                  <!-- {% if prescriptions.scanid == scanfiles.scanid  %} -->
                  <td>{{ scanfiles.file }}</td>
                  <!-- {% endif %} -->
                {% endfor %}
              </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info foot">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Hospital</span>
            </a>
            <p>
              We are committed to provide you with the highest standards of care
              at Our Hospital Ltd.
            </p>
            <div class="social-links d-flex mt-4">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="./doctor_dashboard.html">Home</a></li>
              <li><a href="./doctor_dashboard.html#about">About us</a></li>
              <li><a href="./doctor_dashboard.html#faq">FAQs</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <!-- <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul> -->
          </div>

          <div
            class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
          >
            <h4>Contact Us</h4>
            <p>
              Al Hay 7 <br />
              Sheikh Zayed, Giza<br />
              Egypt <br /><br />
              <strong>Phone:</strong> +20 101 322 3173<br />
              <strong>Email:</strong> info@example.com<br />
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
